/* Imagem do Circuito */
.circuito {
  width: 100%;
  object-fit: fill;
}

/* Fim Imagem do Circuito */

/* Section Header */
.section-header {
  width: 90%;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Fim Section Header */

/* Classificacao pilotos */
#classificacao-pilotos {
  width: 90%;
  margin: 32px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* Fim Classificacao pilotos */

/* Cores das Equipes */
.porsche {
  border-left-color: var(--cor-porsche);
}

.jaguar {
  border-left-color: var(--cor-jaguar);
}

.nissan {
  border-left-color: var(--cor-nissan);
}

.mclaren {
  border-left-color: var(--cor-mclaren);
}

.maseratti {
  border-left-color: var(--cor-maseratti);
}

.andretti {
  border-left-color: var(--cor-andretti);
}

.mahindra {
  border-left-color: var(--cor-mahindra);
}

.ds-penske {
  border-left-color: var(--cor-ds-penske);
}

.abt {
  border-left-color: var(--cor-abt);
}

.envision {
  border-left-color: var(--cor-envision);
}

.ert {
  border-left-color: var(--cor-ert);
}

/* Fim Cores das Equipes */

/* Tablet */
@media (width < 950px) {
  #classificacao-pilotos {
    grid-template-columns: repeat(2, 1fr);
  }

  .input {
    width: 50%;
  }
}

@media (width < 650px) {
  .section-header h1 {
    display: none;
  }

  #classificacao-pilotos {
    grid-template-columns: 1fr;
  }

  .input {
    width: 100%;
  }
}