/* História da fórmula E */

.container {
  margin: 3rem auto;
  font-family: var(--font-primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  padding: 4rem;
  color: var(--font-primary-color);
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 0 0 50px 0;
}

#blue {
  background-color: var(--font-primary-dark-color);
  z-index: 2;
}

#red {
  background-color: #D5001C;
  z-index: 1;
}

#light-blue {
  background-color: #0500FF;
  z-index: 0;
}

#red, #light-blue {
  margin-left: -3rem;

  h2, p {
    margin-left: 1rem;
  }
}

.title-container {
  margin-bottom: 1rem;

  h2 {
    font-weight: 400;
    font-size: 2rem;
    color: var(--title-color);
  }
}

/* Fim História da fórmula E */


/* Circuitos */
.circuit-grid {
  padding: 0.5rem 3rem;
  margin: 3rem auto;
}

.grid1, .grid2, .grid3 {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.grid1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "berlim berlim diriyah"
    "berlim berlim mexico";
}

.grid1 .berlim {
  grid-area: berlim;
}

.grid1 .mexico {
  grid-area: mexico;
}

.grid1 .diriyah {
  grid-area: diriyah;
}

.londres {
  margin-bottom: 1rem;
}

.grid2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "misano portland portland"
    "monaco portland portland";
}

.grid2 .misano {
  grid-area: misano;
}

.grid2 .monaco {
  grid-area: monaco;
}

.grid2 .portland {
  grid-area: portland;
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.mexico, .diriyah, .misano, .monaco {
  width: 85%;
}

.mexico, .diriyah {
  margin-left: 15%;
}


.circuit-container {
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 55px 0;
  background: var(--bg-primary);

  img {
    width: 100%;
    border-radius: 10px;
  }

  span {
    color: var(--font-primary-color);
    font-weight: 300;
    font-size: 2rem;
  }
}



/* Fim Circuitos */

/* Equipes */
.teams-accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.teams-content-box {
  margin: 1rem 2rem;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;
  background-color: #f2f2f2;
  color: #00001B;
  cursor: pointer;
  font-weight: 800;

  img {
    height: 50px;
  }
}


.title-label {
  color: #00001B;
  margin-left: 24px;
  font-size: 1.5rem;
  font-weight: 500;
}

.label::before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  order: 2;
}

.label.active::before {
  content: "\f077";
}

.label-content {
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  color: var(--font-primary-color);
  overflow: hidden;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  transition: .5s ease-out;
  height: 0;
}


.label.active+.label-content {
  height: auto;
  padding: 1.5rem;
}

.grid-label-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "pilot carro"
    "pilot stats";
  margin-bottom: 1rem;
  gap: 5rem;

  h3 {
    font-style: italic;
    font-size: 2.5rem;
  }
}


.pilots-cards {
  grid-area: pilot;
  display: flex;
  flex-direction: column;
}

.bar-color {
  width: 3%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

#abt {
  background-color: var(--cor-abt);
}

#andretti {
  background-color: var(--cor-andretti);
}

#ds {
  background-color: var(--cor-ds-penske);
}

#env {
  background-color: var(--cor-envision);
}

#ert {
  background-color: var(--cor-ert);
}

#jaguar {
  background-color: var(--cor-jaguar);
}

#mah {
  background-color: var(--cor-mahindra);
}

#mas {
  background-color: var(--cor-maseratti);
}

#mcl {
  background-color: var(--cor-mclaren);
}

#nissan {
  background-color: var(--cor-nissan);
}

#porsche {
  background-color: var(--cor-porsche);
}

.pilot1, .pilot2 {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 100%;
  margin: 1rem;

  img {
    width: 35%;
  }

  h1 {
    font-style: italic;
    margin-right: 3rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-primary);
  }
}

.car-card {
  grid-area: carro;

  img {
    width: 100%;
  }
}

.stats-card {
  grid-area: stats;
  gap: 1rem;

  h3 {
    margin-bottom: 1rem;
  }
}

.data {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--font-primary-color);
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.my-icon {
  font-size: 2rem;
}

#icon-abt {
  color: var(--cor-abt);
}

#icon-andretti {
  color: var(--cor-andretti);
}

#icon-ds {
  color: var(--cor-ds-penske);
}

#icon-env {
  color: var(--cor-envision);
}

#icon-ert {
  color: var(--cor-ert);
}

#icon-jaguar {
  color: var(--cor-jaguar);
}

#icon-mah {
  color: var(--cor-mahindra);
}

#icon-mas {
  color: var(--cor-maseratti);
}

#icon-mcl {
  color: var(--cor-mclaren);
}

#icon-nissan {
  color: var(--cor-nissan);
}

#icon-porsche {
  color: var(--cor-porsche);
}

.position-number, .victory-number, .podium-number {
  background-color: #f2f2f2;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-primary);
}

.position-number {
  border-radius: 5px 0 0 5px;
}

.podium-number {
  border-radius: 0 5px 5px 0;
}

/* Fim Equipes */


/* Mobile */
@media only screen and (max-width: 1200px) {

  /* História da fórmula E */
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 3rem;

  }

  #red, #light-blue {
    margin-left: 0;
    margin-top: -2.5rem;

    h2 {
      margin-top: 2rem;
    }

    h2, p {
      margin-left: 0;
    }
  }

  .title-container {
    margin-bottom: 1rem;

    h2 {
      font-weight: 400;
      font-size: 2rem;
    }
  }

  /* Fim História da fórmula E */

  /* Circuitos */
  .circuit-grid {
    padding: .5rem 1rem;
    margin: 1rem auto;
    gap: .5rem;
  }

  .grid1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "berlim"
      "mexico"
      "diriyah";
  }

  .grid2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "misano"
      "monaco"
      "portland";
  }

  .mexico, .diriyah, .misano, .monaco {
    width: 100%;
  }

  .mexico, .diriyah {
    margin-left: 0;
  }

  .grid3 {
    grid-template-columns: 1fr;
  }

  .circuit-container {
    padding: .7rem;
  }

  /*Fim Circuitos */

  /* Equipes */
  .equipes {
    display: none;
  }

  .teams-accordion {
    display: none;
  }

  /*Fim Equipes */
}

/*Fim Mobile */