/* História da fórmula E */

.container {
  margin: 3rem auto;
  font-family: var(--font-primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  padding: 4rem;
  color: var(--font-primary-color);
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 0 0 50px 0;
}

#blue {
  background-color: var(--font-primary-dark-color);
  z-index: 2;
}

#red {
  background-color: #D5001C;
  z-index: 1;
}

#light-blue {
  background-color: #0500FF;
  z-index: 0;
}

#red, #light-blue {
  margin-left: -3rem;

  h2, p {
    margin-left: 1rem;
  }
}

.title-container {
  margin-bottom: 1rem;

  h2 {
    font-weight: 400;
    font-size: 2rem;
  }
}

/* Fim História da fórmula E */


/* Circuitos */
.circuit-grid {
  padding: .5rem 3rem;
  margin: 3rem auto;
}

.grid1, .grid2, .grid3 {
  gap: 1rem;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "berlim berlim diriyah"
    "berlim berlim mexico";
  margin-bottom: 1rem;

  .berlim {
    grid-area: berlim;
  }

  .mexico {
    grid-area: mexico;
  }

  .diriyah {
    grid-area: diriyah;
  }
}

.londres {
  width: 100%;
  margin-bottom: 1rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "misano portland portland"
    "monaco portland portland";
  margin-bottom: 1rem;

  .misano {
    grid-area: misano;
  }

  .monaco {
    grid-area: monaco;
  }

  .portland {
    grid-area: portland;
  }
}

.mexico, .diriyah, .misano, .monaco {
  width: 85%;
}

.mexico, .diriyah {
  margin-left: 4rem;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.circuit-container {
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 55px 0;
  background: var(--bg-primary);

  img {
    width: 100%;
    border-radius: 10px;
  }

  span {
    color: var(--font-primary-color);
    font-weight: 300;
    font-size: 2rem;
  }
}

/* Fim Circuitos */

/* Equipes */
.teams-accordion {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .teams-content-box {
    margin: 1rem 2rem;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    padding: 2rem;
    background-color: #f2f2f2;
    color: #00001B;
    cursor: pointer;
    font-weight: 800;

    img {
      height: 50px;
    }

    .title-label {
      color: #00001B;
      margin: 0;
      font-size: 3rem;
    }
  }

  .label::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    order: 2;
  }

  .label-content {
    display: flex;
    flex-direction: column;
    background: var(--bg-primary);
    color: var(--font-primary-color);
    overflow: hidden;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 200;
    transition: .5s ease-in-out;
    height: 0;

    li {
      list-style: none;
      font-weight: 300;
      padding-bottom: 10px;
    }
  }


  .label.active+.label-content {
    height: auto;
    padding: 1rem;
  }

  .label:hover {
    background-color: #d6d5d5c5;
    ;
  }
}

/* Fim Equipes */


/* Mobile */
@media only screen and (max-width: 1200px) {

  /* História da fórmula E */
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 3rem;

  }

  #red, #light-blue {
    margin-left: 0;
    margin-top: -2.5rem;

    h2 {
      margin-top: 2rem;
    }

    h2, p {
      margin-left: 0;
    }
  }

  .title-container {
    margin-bottom: 1rem;

    h2 {
      font-weight: 400;
      font-size: 2rem;
    }
  }
  
  /* Fim História da fórmula E */

  /* Circuitos */
  .circuit-grid {
    padding: .5rem 1rem;
    margin: 1rem auto;
    gap: .5rem;
  }

  .grid1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "berlim"
      "mexico"
      "diriyah";
  }

  .grid2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "misano"
      "monaco"
      "portland";
  }

  .mexico, .diriyah, .misano, .monaco {
    width:  100%;
  }

  .mexico, .diriyah {
    margin-left: 0;
  }

  .grid3 {
    grid-template-columns: 1fr;
  }

  .circuit-container {
    padding: .7rem;
  }
  /*Fim Circuitos */

  /* Equipes */
  .teams-accordion {
    width: 100%;
  }

  .label {
    gap: 10px !important;
    padding: 1rem !important;

    img {
      height: 30px !important;
    }

    .title-label {
      font-size: .8rem !important;
    }
  }

  .label::before {
    font-weight: 200;
    right: 1px;
    font-size: 1rem;
  }

  .label-content {
    margin-bottom: 2rem;
    font-size: .9rem !important;
  }

  /*Fim Equipes */
}

/*Fim Mobile */