<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula E Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <img src="/Challange_Web_Dev/img/Web/Logo-Formula-E.png" alt="Formula E Logo" class="logo">
            <div class="login-line"></div>
            <form id="loginForm">
                <div class="input-group">
                    <img src="../img/Icones/User_Icone.png" class="icon" alt="User Icon">
                    <input type="text" name="nome" placeholder="Nome:" required>
                </div>
                <div class="input-group">
                    <img src="/Challange_Web_Dev/img/Icones/User_Icone.png" class="icon" alt="Email Icon">
                    <input type="email" name="email" placeholder="Email:" required>
                </div>
                <div class="input-group">
                    <img src="../img/Icones/Password_Icone.png" class="icon" alt="Password Icon">
                    <input type="password" name="senha" placeholder="Senha:" required>
                </div>
                <button type="submit" class="login-btn">Entrar</button>
            </form>
        </div>
    </div>

    <script src="../js/login.js"></script>

</body>